@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#banner {
    background-image: url(../img/indexbg.jpeg);
    height: calc(100vh - 56px);
    background-size: cover;
    background-attachment: fixed;
    color:white;
}

/* ===== Edições dos card-games, remover se desnecessário ====== */
header li a{
    border-radius: 9px;
    transition: all .3s ease-in-out;
}

header li a:hover{
    background-color: #F77D8C;
    color: black;
  }

h2, h3, h4 {
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
    margin-top: 10px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

.btn{
    background-color: #F77D8C;
}

section>h2 {
    margin: 60px 0px;
}

.card-game img {
    height: 21.875rem;
    width: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.image-container {
    height: 21.875rem;
    width: 100%;
    border: 10px groove --corCinza;
    border-radius: 15px;
    overflow: hidden;
}

.card-game img:hover {
    transform: scale(1.1);
}

#about {
    display: block;
    margin: 0 60% 0 0%;
    font-family: 'Open Sans', sans-serif;
}

p{
    font-family: 'Open Sans', sans-serif;
}

.container h2{
    margin: 60px 0 20px;
}
.container p{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}
#sobre{
    width:70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;
}
.sobre img {
    width: 35px;
    padding: 6px;
}

@media (max-width: 320px){

.container p{
    width: 100%;
    margin-bottom: 30px;
}
#sobre{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
}
.sobre img {
    width: 43px;
    padding: 6px
}
}

